{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 2,
	"printWidth": 200,
	"proseWrap": "never",
	"vueIndentScriptAndStyle": true,
	"trailingComma": "es5",
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"useTabs": true,
	"importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./@]", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
